<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RU</key>
	<dict>
		<key>HINT_LABEL</key>
		<string>Потрясите шар</string>
		<key>ERROR_MESSAGE</key>
		<string>Похоже что, что-то не работает :-(</string>
	</dict>
	<key>EN</key>
	<dict>
		<key>HINT_LABEL</key>
		<string>Shake the sphere</string>
		<key>ERROR_MESSAGE</key>
		<string>Looks like somthing don&apos;t work :-(</string>
	</dict>
</dict>
</plist>
